#page_5 {position:relative; overflow: hidden;margin: 1px; border: none;width: 1024px; height: 767px;}
#page_5 #id5_1 {border:none;margin: 62px 0px 0px 374px; border:none;width: 650px;overflow: hidden;}
#page_5 #id5_2 {border:none;margin: 244px 0px 0px 376px; border:none;width: 648px;overflow: hidden;}
#page_6 {position:relative; overflow: hidden; border: none;width: 1024px;height: 768px;}

.dclr {clear:both;float:none;height:1px;overflow:hidden;}

.fnt{font-family: Arial, sans-serif; color: #535353;}
.lrg {font-size: 4rem;}

.ft31{font: 22px 'Arial';color: #535353;line-height: 25px;}
.ft46{font: 46px 'Arial';color: #535353;line-height: 50px;}
.ft48{font: 25px 'Arial';color: #535353;line-height: 24px;}
.ft49{font: 25px 'Arial';color: #535353;line-height: 25px;}
.ft50{font: 25px 'Arial';color: #535353;line-height: 28px;}
.ft51{font: 23px 'Gabriola';color: #535353;line-height: 42px;position: relative; bottom: 6px;}
.ft52{font: 1px 'Arial';line-height: 1px;}

.p0{text-align: left;}
.p6{text-align: left;white-space: nowrap;}
.p22{text-align: left;}
.p23{text-align: left;padding-left: 6px; white-space: nowrap;}
.p24{text-align: right;padding-right: 1px; white-space: nowrap;}
.p25{text-align: left;padding-left: 34px; white-space: nowrap;}

.td3{width: 237px;vertical-align: bottom;}
.td4{width: 319px;vertical-align: bottom;}
.td5{width: 85px;vertical-align: bottom;}
.td6{width: 120px;vertical-align: bottom;}
.td7{width: 117px;vertical-align: bottom;}
.td8{border-bottom: #535353 1px solid; width: 85px;vertical-align: bottom;}

.tr6{height: 28px;}
.tr7{height: 53px;}
.tr8{height: 52px;}
.tr9{height: 75px;}

.t0{width: 917px;margin-left: 61px;margin-top: 39px;font: 22px 'Arial';}
.t1{width: 641px;margin-top: 174px;font: 25px 'Arial';color: #535353;}
.t2{width: 519px;margin-left: 438px;margin-top: 98px;font: 14px 'Arial';}